#div1 {
    margin: 0 auto;
    background: black;
    color: white;
    width:300px;
    text-align: center;
    padding:10px;
}
.classe-div {
    width:200px;
    height:200px;
    border: 1px solid;
    display: inline-block;
    margin: 15px;
}