* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.elemento-div 
{
    position: absolute;
    width: 200px;
    height: 200px;
    text-align: center;
    line-height: 200px;
}

.primeira-div
{
    background-color: darkkhaki;
    right:0%;

}

.segunda-div
{
    
    background-color: greenyellow;
    left:50%;
    top:50%;
    transform: translate(-50%);
}

.terceira-div
{
    
    background-color:lightsalmon;
}

.elemento-interna 
{
    position: absolute;
    background-color:maroon;
    width: 50%;
    height: 50%;
    line-height: 100px;
    top:25%;
    left:25%;
    /* transform: translate(-50%); */
}