* 
{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

}

body 
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #F9F0F2;
}

.container
{
    margin:50px;
    max-height: 90vh;
    background-color:#fff;
    overflow-y:scroll;
    padding-bottom:70px;
}

#nav-content
{
    padding:25px;
    text-align: center;
    background-color: rgba(f,f,f,1);
}

nav > a 
{
    margin: 5px;
    font-size: 25px;
    padding: 25px;
    display:inline-block;
    border-bottom: 3px solid #191919;
    color: #191919;
}

nav > a:hover
{
    background-color: #F3E2E6;
}

#conteudo-bio
{
    width:50%;
    margin-top: 150px;
    margin-left:auto;
    margin-right:auto;
    background-color: #F3F5F7;
    box-shadow: 1px 1px 15px 15px #EDD4DA;
    border-radius: 20px;
    max-width: 100%;
}

.div-img
{
    display:inline-block;
}

.div-bio-texto
{
    display:inline-block;
    width:50%;
    vertical-align:top;
    margin-top:7%;
    margin-left:7%;
    text-align:center;
}
.div-bio-texto > p
{
    font-weight: 500;
    font-size: 1.5em;
}
.div-img > img
{
    border-radius: 20px;
    max-width: 100%;
}
