*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container 
{
    margin:45px;
    border: 1px solid red;
    height: 90vh;
    overflow:scroll;
}
.bio-container
{
    border: 1px solid red;
    width:20%;
    height:inherit;
    position:fixed;
    text-align: center;
}
.foto
{
    border-radius: 50%;
    border: 1px solid red;
    margin-top:20px;
    max-width: 100%;
}
.bio-container > p 
{
    font-weight: 500;
    font-size:1.2em;
    margin:25px;
}
.socialmedia-icon
{
    margin:15px;
}
.conteudo-container
{

    margin-left:21.2%;
    border: 1px solid red;
    height:inherit;
}
nav
{
    border:1px solid red;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding:45px;
}
nav > a
{
    font-size:1.2em;
    border: 1px solid red;
    padding:25px;
    margin:20px;
}