@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
* {
    padding: 0;
    margin: 0;
}
body {
    font-size: 17px;
    font-family: 'Red Hat Display', sans-serif;
}
.form-container {
    border-bottom: 2px solid;
    display:flex;
    flex-direction: row;
    gap:20px;
    padding:20px;
    margin:0 auto;
    justify-content: center;
    width:50%;
    background-color: #fff;
}

.card {
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #f3f3f3;
    border-radius:10px;
    box-shadow: 1px 0 7px #3f3f3f;
    gap:15px;
    width:300px;
    margin:10px;
}
.card img {
    max-width: 100%;
    width:100%;
    height:230px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.card p {
    margin:25px;  
    max-height:200px;
    text-align: center;
}
#div-cards {
    display: flex;
    gap:10px;
    flex-wrap: wrap;
    max-width:100vw;
    margin-top:100px;
    justify-content: center;
}
